@import url('app.css');

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.message {
    /*display: none;*/
    width: 700px;
    max-width: 100%;
    padding: 20px 30px;
    background-color: #9ff29f;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
    -webkit-animation: fadeOut 0.5s forwards;
    animation: fadeOut 0.5s forwards;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #14af13;
    z-index: 99999;
}

.message.is-error {
    background-color: #ff8799;
    color: #bf213c;
}

.user-avatar-md {
    height: 32px;
    width: 32px;
}
